<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>MessyCodeFilter</filter-name>
  	<display-name>MessyCodeFilter</display-name>
  	<description></description>
  	<filter-class>filters.MessyCodeFilter</filter-class>
  </filter>
  <filter>
  	<filter-name>CheckVisitorFilter</filter-name>
  	<display-name>CheckVisitorFilter</display-name>
  	<description></description>
  	<filter-class>filters.CheckVisitorFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>MessyCodeFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>CheckVisitorFilter</filter-name>
  	<url-pattern>/pages/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>CheckVisitorFilter</filter-name>
  	<url-pattern>/</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Log4JInitServlet</servlet-name>
    <servlet-class>servlet.Log4JInitServlet</servlet-class>
    <init-param>
      <param-name>log4j</param-name>
      <param-value>/WEB-INF/classes/log4j.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>loginJSP</servlet-name>
    <jsp-file>/pages/login.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>registerJSP</servlet-name>
    <jsp-file>/pages/register.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>registerSuccessJSP</servlet-name>
    <jsp-file>/pages/registerSuccess.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>allProjectsJSP</servlet-name>
    <jsp-file>/pages/allProjects.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>createProjectJSP</servlet-name>
    <jsp-file>/pages/createProject.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>createProjectSuccessJSP</servlet-name>
    <jsp-file>/pages/createProjectSuccess.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>projectDetailJSP</servlet-name>
    <jsp-file>/pages/projectDetail.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>noProjectJSP</servlet-name>
    <jsp-file>/pages/noProject.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>userStatisticsJSP</servlet-name>
    <jsp-file>/pages/userStatistics.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>ChartjsDemoJSP</servlet-name>
    <jsp-file>/pages/chartjsDemo.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateProjectServlet</servlet-name>
  	<display-name>CreateProjectServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.CreateProjectServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AllProjectsServlet</servlet-name>
  	<display-name>AllProjectsServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.AllProjectsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinProjectServlet</servlet-name>
  	<display-name>JoinProjectServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.JoinProjectServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>QuitProjectServlet</servlet-name>
  	<display-name>QuitProjectServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.QuitProjectServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProjectDetailServlet</servlet-name>
  	<display-name>ProjectDetailServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.ProjectDetailServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ChartjsDemoServlet</servlet-name>
  	<display-name>ChartjsDemoServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.ChartjsDemoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserStatisticsServlet</servlet-name>
  	<display-name>UserStatisticsServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.UserStatisticsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProjectInfoChangeServlet</servlet-name>
  	<display-name>ProjectInfoChangeServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.ProjectInfoChangeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UrlCheckServlet</servlet-name>
  	<display-name>UrlCheckServlet</display-name>
  	<description></description>
  	<servlet-class>servlet.UrlCheckServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>loginJSP</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerJSP</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerSuccessJSP</servlet-name>
    <url-pattern>/registerSuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>allProjectsJSP</servlet-name>
    <url-pattern>/allProjects</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createProjectJSP</servlet-name>
    <url-pattern>/createProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createProjectSuccessJSP</servlet-name>
    <url-pattern>/createProjectSuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>projectDetailJSP</servlet-name>
    <url-pattern>/projectDetail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>noProjectJSP</servlet-name>
    <url-pattern>/noProject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userStatisticsJSP</servlet-name>
    <url-pattern>/userStatistics</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChartjsDemoJSP</servlet-name>
    <url-pattern>/chartjsDemo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateProjectServlet</servlet-name>
  	<url-pattern>/CreateProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AllProjectsServlet</servlet-name>
  	<url-pattern>/AllProjectsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinProjectServlet</servlet-name>
  	<url-pattern>/JoinProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>QuitProjectServlet</servlet-name>
  	<url-pattern>/QuitProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProjectDetailServlet</servlet-name>
  	<url-pattern>/ProjectDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChartjsDemoServlet</servlet-name>
  	<url-pattern>/ChartjsDemoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserStatisticsServlet</servlet-name>
  	<url-pattern>/UserStatisticsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProjectInfoChangeServlet</servlet-name>
  	<url-pattern>/ProjectInfoChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UrlCheckServlet</servlet-name>
  	<url-pattern>/UrlCheckServlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
	<welcome-file>/pages/login.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>